<div class="about-me-container">
  <div class="info-container">
    <div class="text-container">
      <h2>About Me <span class="divider"></span></h2>
      <p>
        I'm a tech enthusiast. I've optimized everything from microservices to the coffee maker. I’ve led teams, launched startups, and somehow kept my code bug-free (mostly). Let's build something awesome together!
      </p>
      <p>
        My objective is to make development as easy as possible for everyone with simple,
        beautiful designs and organized code patterns.
      </p>
    </div>

    <div class="more-info-container">
      <div class="experience-container">
        <div class="experience">
          <h1>08+</h1>
          <p>Years of Experience Developing</p>
        </div>
        <div class="experience">
          <h1>13+</h1>
          <p>Projects Completed</p>
        </div>
        <div class="experience">
          <h1>6+</h1>
          <p>Years being Lead Software Engineer</p>
        </div>
      </div>

      <div class="skills-container">
        <span class="pill">SQL</span>
        <span class="pill">MongoDB</span>
        <span class="pill">NodeJS</span>
        <span class="pill">NextJS</span>
        <span class="pill">NestJS</span>
        <span class="pill">Spring</span>
        <span class="pill">Django</span>
        <span class="pill">AWS - Developer</span>
        <span class="pill">Vercel</span>
        <span class="pill">Jenkins</span>
        <span class="pill">Jest</span>
        <span class="pill">GitHooks</span>
        <span class="pill">Github</span>
        <span class="pill">React/React Native</span>
        <span class="pill">Angular</span>
        <span class="pill">Flutter</span>
        <span class="pill">.NET</span>
        <span class="pill">JIRA</span>
        <span class="pill">ClickUp</span>
        <span class="pill">SCRUM</span>
        <span class="pill">XP</span>

      </div>
    </div>
  </div>

 <div class="image-container">
    <div class="circle-container">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <img src="duv_profile.png" alt="Profile Image" class="profile-image">
    </div>
  </div>
</div>
