<div class="popup-overlay" *ngIf="project">
  <div class="popup-container">
    <!-- Imagen principal y el ícono -->
    <div class="image-link-container">
      <div class="main-image-container" [ngClass]="{'dark-item': project.dark}">
        <img [src]="project.image" alt="Main Project Image" class="main-image">
      </div>
      <a *ngIf="project.url" [href]="project.url" target="_blank" class="external-link">
        <img src="icons/link.png" alt="External Link" class="external-icon">
      </a>
    </div>

    <!-- Contenedor de la descripción y el stack -->
    <div class="details-container">
      <div class="description">
        <h2>{{project.name}}</h2>
        <p>{{ project.description }}</p>
      </div>
      <div class="stack">
        <h2>Stack</h2>
        <div class="stack-items">
          <span *ngFor="let tech of project.stack" class="pill">{{ tech }}</span>
        </div>
      </div>
    </div>

    <!-- Contenedor de las imágenes del portafolio -->
    <div class="portfolio-images-container">
      <div class="portfolio-images">
        <img *ngFor="let image of project.portfolio_images" [src]="image" alt="Project Portfolio Image">
      </div>
    </div>

    <!-- Botón de cerrar -->
    <div class="popup-footer">
      <button class="close-button" (click)="onClose()">Close</button>
    </div>
  </div>
</div>
