/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4; /* Fondo claro para todo */
}

/* Encabezados y Párrafos */
h1, h2, h3 {
  color: #333;  // Color de texto general
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;

}

p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Botón Primario */
.primary-button {
  display: inline-block;
  padding: 14px 24px;
  background-color: #f6f5f5;
  color: #007bff;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  // Efecto neumórfico
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(255, 255, 255, 0.8);

  &:hover {
    background-color: #ffffff;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.8);
  }

  &:active {
    background-color: #c1c1c1;
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.15), inset -8px -8px 16px rgba(255, 255, 255, 0.7);
  }
}

/* Píldoras (reutilizando el estilo del botón primario) */
.pill {
  display: inline-block;
  padding: 14px 24px;
  background-color: #f6f5f5;
  color: #007bff;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(255, 255, 255, 0.8);

  &:hover {
    background-color: #ffffff;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.8);
  }

  &:active {
    background-color: #ffffff;
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.15), inset -8px -8px 16px rgba(255, 255, 255, 0.7);
  }
}

/* Logo Container (Fixed Position) */
.logo-container {
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 1000;
  background-color: transparent;
  padding: 10px;

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 10px 10px 30px #d1d1d1, -10px -10px 30px #ffffff;
    object-fit: contain;
  }
}
